<div class="container mt-2">
        @if (customers | async){
            <div class="card">
                <div class="card-header">Customers</div>
                <div class="card-body">
                    @if (searchFormGroup)
                    {
                        {{this.searchFormGroup.value | json}}
                        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
                            <div class="input-group">
                                <label class="input-group-text">SearchByName :</label>
                                <input type="text" formControlName="keyword" class="form-control">
                                <button class="btn btn-info">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    }
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th><th>Name</th><th>Email</th><th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let c of customers | async">
                            <td>{{c.id}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.email}}</td>
                            <td>
                                <button (click)="handleDeleteCustomer(c)" class="btn btn-danger m-1">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <button (click)="handleCustomerAccounts(c)" class="btn btn-success m-1">
                                    Accounts
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        } @else if (errorMessage) {
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        } @else {
            <div class="spinner-container">
                <!--<mat-spinner></mat-spinner>-->
                <div class="spinner"></div>
            </div>
        }
</div>
